@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 51, 53, 54;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Add Calibri font */
@font-face {
  font-family: 'Calibri';
  src: url('/fonts/calibri.woff2') format('woff2'),
       url('/fonts/calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add any custom styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.font-calibri {
  font-family: 'Calibri', sans-serif;
}

@keyframes shimmer-slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-shimmer-slide {
  animation: shimmer-slide var(--speed, 2s) linear infinite;
}

.animate-spin-around {
  animation: spin-around var(--speed, 2s) linear infinite;
}
